extends layout

block content
   h1 Register
   form(method='POST', action='/users/register')
          div.form-group
            label name:
            input.form-control(type='text',name='name')
          div.form-group
            label email:
            input.form-control(type='text',name='email')
          div.form-group
            label username:
            input.form-control(type='text',name='username')
          div.form-group
            label password:
            input.form-control(type='password',name='password')
          div.form-group
            label Confirm Password:
            input.form-control(type='password',name='password2')
          br
          button.btn.btn-primary(type='submit') Sign up

